<!DOCTYPE html>
<html>

<head>
  <%- include('head.ejs') %>
</head>

<body>
  <%- include('header.ejs') %>

  <div class="splash-container" style="height:100%" id="yui_3_18_1_1_1556707393044_13">
    <form class="pure-form pure-form-stacked splash" action="/" method="GET">
      <h1 class="eurovote-title">
        <span class="title1st"><%= process.env.SITE_NAME_FIRST || 'Euro' %></span><span class="title2nd"><%= process.env.SITE_NAME_SECOND || 'Vote' %></span>
      </h1>
      <p><%= (locals.passwordIncorrect) ? __('INCORRECT_PASSWORD') : __('ENTER_PASSWORD') %></p>
      
      <input id="nom" type="text" placeholder="<%= __('ENTER_PASSWORD')%>" name="password">
      <button type="submit" class="pure-button pure-button-primary"><%= __('PASSWORD')%></button>
    </form>
  </div>

  <script>

  </script>
</body>

</html>