<!DOCTYPE html>
<html class="yui3-js-enabled" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<%- include('head.ejs') %>
</head>

<body id="">
	<div class="pure-g" style="height:100%;overflow: none;">
		<%- include('header.ejs') %>

		<% 
		const getCountryEmoji = (isoCode) => countriesEmojis.get(isoCode).emoji;
		const getCountryName = (isoCode) => countriesName.getName(isoCode, lang);
		%>

		<div class="tiles">
			<% for(var line = 0 ; line <= Math.floor(artists.length / 8); line++) { %>
				<div class="tiles-line">
					<% for(var index = line*8 ; index < Math.min(line*8 + 8, artists.length); index++) { %>
						<% var artist = artists[index]; %>
						<div class="tile tile-limited pure-u-1 pure-u-lg-1-8" id="tile-<%= artist.id %>">
							<div class="tile-content">
								<div class="id"><%= artist.id %></div>
								<div class="number"><%= artist.order %></div>
								<div class="country"><%= getCountryEmoji(artist.country) %> <%= getCountryName(artist.country) %></div>
								<div class="artist"><%= artist.name %></div>
								<div class="song"><%= artist.song %></div>
								<br />
								<div class="tilePoints">Points</div>
							</div>
						</div>
					<% } %>	
				</div>
			 <% } %>
		</div>
	</div>

	<script>
		let points = [12, 10, 8, 7, 6, 5, 4, 3, 2, 1]
		let currentPoints = points.shift();

		let strPoints = "<%= __('POINTS')%>";
		let strPoint = "<%= __('POINT')%>";

		const setPoints = () => {
			let strCurrent = strPoint;
			if(currentPoints > 1){
				strCurrent = strPoints;
			}
			$("#sentence").text("<%= __('DISTRIBUTE')%> "+currentPoints+" "+strPoints);
			$(".tilePoints").text("<%= __('GIVE')%> "+currentPoints+" "+strPoints);
		}
		setPoints();

		let name = "<%= name %>";
		let votes = []
		
		$(".tile").click(function () {
			const artistId = parseInt($(this).find(".id").text());
			votes.push({
				points: currentPoints,
				artistId
			})

			//Set points
			if (points.length > 0) {
				console.log("coucou");
				currentPoints = points.shift();

				$(this).css('visibility', 'hidden');
				setPoints();
			} else {
				console.log("chier");
				$("#sentence").text("Vote terminé");
				$.post({
					url: "/vote",
					data :{
						name,
						votes
					},
					success: () => { window.location.href = "/afterVote" },
					error: (xhr, status, error) => {
						var errorMessage = xhr.status + ': ' + xhr.statusText
						alert('Error - ' + errorMessage);
						console.log('Error - ' + errorMessage);
					}
				});
				
			}
		});
	</script>
</body>

</html>